<div>
    <%= simple_form_for(@list, url: list_path, method: :patch) do |f| %>
    <%= f.input :name %>
    <%= f.input :tags %>
    <% raise %>

    <%= f.submit :submit, "Update" %>
    <% end %>
</div>


