body {
  position: relative;
}

.home-banner {
  background-image:-webkit-linear-gradient(#FACBC5, #F7D796);
  height: 100%;
  min-height: 87vh;
}

.container-main {
  display: flex;
  margin-right: 170px;
  margin-left: 170px;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 80vh;
  }

