<div class="container">
  <%= render 'form'%>
  <% @lists.each do |list| %>
  <div class="card-product">
    <div class="card-product-infos">
      <h5 class="card-title"><%= "#{list.name} ( #{list.tags} )" %></h5>
      <p class="card-logo">
        <a class="btn btn-light"><i class="fas fa-play"></i></a>
        <%= link_to "", edit_user_list_path(list), class: "fas fa-edit btn btn-light" %>

        <%= link_to "", user_list_path(list), method: :delete, class: "fas fa-trash btn btn-light" %>
      </p>
    </div>
  </div>
  <% end %>
</div>
