<div id="container">
  <div id="audio-image">
    <img class="cover">
  </div>
  <div id="audio-player">
    <div id="audio-info">
      <span class="artist"></span> - <span class="title"></span>
    </div>
    <input id="volume" type="range" min="0" max="10" value="4">
    <br>
    <div id="buttons"> <span>
      <button id="prev"></button>
      <button id="play"></button>
      <button id="pause"></button>
      <button id="stop"></button>
      <button id="next"></button>
      </span> </div>
    <div class="clearfix"></div>
    <div id="tracker">
      <div id="progress-bar"> <span id="progress"></span> </div>
      <span id="duration">0:00</span> </div>
    <div class="clearfix"></div>
    <ul id="playlist" class="hidden">
      <% @list_songs.each do |list_song| %>
        <li song=" <%= list_song.song.video %> " cover=<%= list_song.song.photo %> artist=""><%= list_song.song.title %></li>
      <% end %>
    </ul>
  </div>
</div>
