<nav class="menu" style ="position: absolute;bottom: 24px;right: 30px;z-index: 1;">
  <input class="menu-toggler" type="checkbox">
  <label for="menu-toggler"></label>
  <ul>
    <li class="menu-item">
      <a class="fab fa-twitter" href="#"></a>
    </li>
    <li class="menu-item">
      <a class="fab fa-facebook-f" href="#"></a>
    </li>
    <li class="menu-item">
      <a class="fab fa-soundcloud" href="#"></a>
    </li>
    <li class="menu-item">
      <a class="fab fa-slack"href="#"></a>
    </li>
    <li class="menu-item">
      <a class ="fab fa-snapchat-ghost" href="#"></a>
    </li>
    <li class="menu-item">
      <a class="fab fa-instagram" href="#"></a>
    </li>
  </ul>
</nav>
