.card {
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  margin: 20px;
  // height: 380px;
  &:hover{
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border: black solid 1px;
}

.dropdown-toggle::after {
  content: none;
}

.fa-edit:hover {
  color: $orange !important;
}

.card-title-song  {
  font-weight: bold;
  color: $orange;
  text-transform: uppercase;
  margin: 0;
  font-size: .8em;
  letter-spacing: 3px;
  text-align: center;
}

.card-artistname {
  color: $orange;
  text-transform: uppercase;
  margin: 0;
  font-size: .6em;
  letter-spacing: 1.5px;
  margin-top: 5px;
  text-align: center;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: $orange;
}

.dropdown-menu.show {
  z-index: 7;
}

#dropdownMenuButton {
  color: white;
}

#dropdownMenuButton .btn-light {
  color: $orange;
  background-color: black;
}

a:hover {
  text-decoration: none;
  color: $orange;
}

a {
  color: $orange;
}

.btn-light{
  background-color: black;
  border-color: black;
}

.btn-light:hover  {
    background-color: black;
    border-color: black;
  }



.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-productM {
  overflow: hidden;
  height: 200px;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 120px;
}

.card-productM img {
  height: 100%;
  width: 220px;
  object-fit: cover;
}

.card-productM h2 {
  font-size: 16px;
  font-weight: bold;
  color: $orange;
  margin: 0;
}

.card-productM h5 {
  font-size: 16px;
  font-weight: bold;
  color: $orange;
  margin: 0;
}

.card-productM a {
  font-size: 16px;
  font-weight: bold;
  color: $orange;
  margin: 0;
}

.card-productM p {
  font-size: 12px;
  color: $orange;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-productM .card-product-infos {
  padding: 16px;
}

.name {
  max-height: 23px;
  overflow: hidden;
}
