.navbar-lewagon {
  justify-content: space-between;
  background: #D1EECC;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.button-search {
  background-color: #d1eecc;
}


.button-search {
  border-radius: 15px;
}
