.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-lewagon {
  justify-content: space-between;
  background: black;
  height: 95px;
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 187px;
}

.nav-item a {
  text-decoration:none;
  color: white;
  transition: all ease 300ms;
  padding-bottom: 34px;

  &:hover {
    color: $orange;
    transition: all ease 300ms;
    border-bottom: 2px solid white;
  }
}

.nav-item {
   margin: 10px;

}

.dropdown-menu {
  background-color: black;
}

#navbarDropdownMenuLink {
  text-decoration:none;
  color: white;
  transition: all ease 300ms;

  &:hover {
    color: $orange;
    transition: all ease 300ms;
  }
}

