.text-center {
  font-size: 60px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: $orange;
  background-color: none;
  text-align: center;
  cursor: pointer;
  font-weight: bold;;
  font-family: sans-serif;
  font-style: oblique;
  font-variant: unset;
  text-shadow: 0 0  5px black,
}
