.filtre-button {
  display: inline-grid;


}


.button-search {
  background: black;
  color: white;
  transition: all ease 300ms;
  display: inline-flex;



  &:hover {
    color: #FACBC5;
    transition: all ease 300ms;
  }
}



