.filtre-button {
  display: inline-grid;
  color: black;
  transition: all ease 300ms;

  &:hover {
    color: white;
    transition: all ease 300ms;
  }


}


.button-search {
  background: black;
  color: white;
  transition: all ease 300ms;
  display: inline-flex;
  margin: 10px;



  &:hover {
    color: $orange;
    transition: all ease 300ms;
  }
}

.btn-cancel {
  color: white;

  &:hover {
    color: $orange;
    text-decoration: none;
    transition: all ease 300ms;
  }
}

.btn-back {
  background: black;
  color: white;
  transition: all ease 300ms;
  display: inline-flex;



  &:hover {
    color: $orange;
    transition: all ease 300ms;
    text-decoration: none;

  }
}

.button-log  {
  margin: 10px;
  background: black;
  color: white;
  transition: all ease 300ms;
  display: inline-flex;
  margin: 10px;



  &:hover {
    color: $orange;
    transition: all ease 300ms;
    text-decoration: none;
  }
}

.submit-edit {
  margin: 10px;
  background: black;
  color: $orange;
  transition: all ease 300ms;
  display: inline-flex;
  margin: 10px;



  &:hover {
    color: white;
    transition: all ease 300ms;
    text-decoration: none;
  }

}

.btn-login {
  background: black;
  color: $orange;
  transition: all ease 300ms;
  display: inline-flex;
  margin: 10px;



  &:hover {
    color: white;
    transition: all ease 300ms;
    text-decoration: none;
  }
}

.btn-signup {
  margin: 10px;
  background: black;
  color: white;
  transition: all ease 300ms;
  display: inline-flex;
  margin: 10px;



  &:hover {
    color: $orange;
    transition: all ease 300ms;
    text-decoration: none;
  }

}

.btn-forgotpass {
  background: black;
  color: white;
  transition: all ease 300ms;
  display: inline-flex;
  margin: 10px;
  font-size: 12px;



  &:hover {
    color: $orange;
    transition: all ease 300ms;
    text-decoration: none;
  }

}

.btn-newlist {
  margin: 10px;
  color: $orange;
  transition: all ease 300ms;
  display: inline-flex;
  margin: 10px;



  &:hover {
    color: white;
    transition: all ease 300ms;
    text-decoration: none;
  }

}
